@import "../index.scss";

.main_frame{
    border: 5px solid $border-color;
    border-radius: 10px;
    padding: 50px;
    background-color: $while-background;
}

.input-form{
    padding-bottom: 25px;
}

.name-input{
    font-weight: bolder;
}