.main_hed {
  max-width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.hed_row {
  display: flex;
}

.col_left {
  width: 50%;
}

.col_right {
  width: 50%;
}

.main_hed_emt {
  background-color: rgb(0, 0, 0);
  height: 500px;
}

.main_hed_image {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgb(0, 0, 0)), url(https://cdn.wallpapersafari.com/18/53/t7gp3E.jpg);
  height: 500px;
}

.main_emt_image {
  width: 300px;
  height: 420px;
  border-radius: 25px;
  border-bottom: 2px solid rgb(255, 255, 255);
  transform: translateY(25%);
}

.mian_data {
  justify-content: space-around;
  width: 100%;
  background-color: transparent;
  position: absolute;
  display: flex;
  transform: translateY(50%);
}

.hed_dics {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  color: rgb(255, 255, 255);
}

.mian_data .mainNav__links {
  display: block;
}

.hed_dics_col_left {
  width: 35%;
}

.hed_dics_col_right {
  width: 35%;
}

.hed_dics_col_right .button_trailer {
  text-align: left;
}

.hed_dics_col_right .button_trailer button {
  padding: 15px 20px;
  background-color: rgb(255, 0, 0);
}

.hed_dics_col_right .button_trailer button:hover {
  padding: 15px 20px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.hed_dics_col_right .button_trailer button:last-child {
  margin-left: 50px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.hed_dics_col_right .button_trailer button:last-child:hover {
  margin-left: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.hed_dics_col_right .icon_infor {
  text-align: left;
  display: flex;
}

.hed_dics_col_right .icon_infor .time {
  display: flex;
}

.hed_dics_col_right .icon_infor .time i {
  font-size: 22px;
}

.hed_dics_col_right .icon_infor .time p {
  margin-left: 10px;
}

.hed_dics_col_right .icon_infor .star {
  display: flex;
  margin-left: 50px;
}

.hed_dics_col_right .icon_infor .star i {
  font-size: 20px;
}

.hed_dics_col_right .icon_infor .star p {
  margin-left: 10px;
}

@media screen and (max-width: 980px) {
  .hed_dics_col_left {
    display: none;
  }
  .hed_dics_col_right {
    margin-left: 20px;
    width: 70%;
  }
}
.movie_desc {
  width: 100%;
  height: 420px;
  border-radius: 25px;
  transform: translateY(25%);
}

.hed_dics h1 {
  text-align: left;
}

.hed_dics p {
  text-align: left;
}

.mainNav__link {
  letter-spacing: 1px;
  padding: 2px 5px;
  font-size: 14px;
  margin-left: 30px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  transform: translateY(0px);
  text-decoration: none;
}

.mainNav__link:hover {
  border-bottom: 3px solid rgb(255, 0, 0);
}

.mainNav__icon {
  display: none;
}

.mainNav__icon i {
  font-size: 20px;
}

@media screen and (max-width: 799px) {
  .mainNav__icon {
    display: block;
    color: rgb(255, 255, 255);
  }
  .mian_data .mainNav__links {
    display: none;
  }
  .mian_data {
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }
  .hed_dics_col_right .button_trailer button {
    padding: 5px;
  }
  .movie_desc {
    height: 350px;
  }
  .movie_de {
    display: none;
  }
  .main_hed_emt {
    height: 300px;
  }
  .main_hed_image {
    height: 300px;
  }
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 10px 10px 15px;
  text-decoration: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
}

.sidebar .sidebar_mainNav__link {
  border-top: 2px solid rgb(255, 255, 255);
}

.sidebar .sidebar_mainNav__link:last-child {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.sidebar .sidebar_mainNav__link:hover {
  color: rgb(0, 0, 0);
  box-shadow: inset 0px -42px 0px rgb(255, 255, 255);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  margin-right: 50px;
}

.sidebar_wrap-search {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.slide {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  background-size: cover;
}

.showing {
  opacity: 1;
  z-index: 2;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.search {
  --background: #ffffff;
  --text-color: #414856;
  --primary-color: $red-color;
  --border-radius: 10px;
  --width: 250px;
  --height: 35px;
  background: var(--background);
  width: auto;
  height: var(--height);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input[type=text] {
  position: relative;
  width: var(--height);
  height: var(--height);
  font: 400 16px "Varela Round", sans-serif;
  color: var(--text-color);
  border: 0;
  box-sizing: border-box;
  outline: none;
  padding: 0 0 0 40px;
  transition: width 0.6s ease;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.search input[type=text]:focus {
  z-index: 0;
  opacity: 1;
  width: var(--width);
}
.search input[type=text]:focus ~ .symbol::before {
  width: 0%;
}
.search input[type=text]:focus ~ .symbol:after {
  -webkit-clip-path: inset(0% 0% 0% 100%);
          clip-path: inset(0% 0% 0% 100%);
  transition: -webkit-clip-path 0.04s linear 0.105s;
  transition: clip-path 0.04s linear 0.105s;
  transition: clip-path 0.04s linear 0.105s, -webkit-clip-path 0.04s linear 0.105s;
}
.search input[type=text]:focus ~ .symbol .cloud {
  top: -30px;
  left: -30px;
  transform: translate(0, 0);
  transition: all 0.6s ease;
}
.search input[type=text]:focus ~ .symbol .lens {
  top: 12px;
  left: 15px;
  transform: translate(0, 0);
  fill: rgb(255, 0, 0);
  transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
}
.search .symbol {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .symbol:before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 0, 0);
  z-index: -1;
  transition: width 0.6s ease;
}
.search .symbol:after {
  content: "";
  position: absolute;
  top: 21px;
  left: 21px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  z-index: 1;
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
  transition: -webkit-clip-path 0.04s linear 0.225s;
  transition: clip-path 0.04s linear 0.225s;
  transition: clip-path 0.04s linear 0.225s, -webkit-clip-path 0.04s linear 0.225s;
}
.search .symbol .cloud,
.search .symbol .lens {
  position: absolute;
  fill: #fff;
  stroke: none;
  top: 50%;
  left: 50%;
}
.search .symbol .cloud {
  width: 25px;
  height: 25px;
  transform: translate(-50%, -60%);
  transition: all 0.6s ease;
}
.search .symbol .lens {
  fill: #fff;
  width: 10px;
  height: 10px;
  z-index: 2;
  top: 20px;
  left: 24px;
  transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
}/*# sourceMappingURL=header.css.map */