.main_hed {
    background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgb(0, 0, 0)), url(../img/m_logo.webp);
    background-size: cover;
}
  
.main_hed_sec {
    background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgb(0, 0, 0)), url(../img/m_logo.webp);
    background-size: cover;
}

@media screen and (max-width: 450px) {
    .main_hed {
        background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgb(0, 0, 0)), url(../img/s_logo.webp);
    }
    
    .main_hed_sec {
        background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgb(0, 0, 0)), url(../img/s_logo.webp);
    }
}