.main_hed {
  max-width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  height: 500px;
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgb(0, 0, 0)), url(../img/s.png);
  background-size: cover;
}

.main_hed_sec {
  max-width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  height: 65px;
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0), rgb(0, 0, 0)), url(../img/s.png);
  background-size: cover;
}

.mian_data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  transform: translateY(50%);
  padding: 0 30px 0 20px;
}

.mian_data .mainNav__links {
  display: inline;
}

.mainNav__link {
  letter-spacing: 1px;
  padding: 2px 5px;
  font-size: 14px;
  margin-left: 30px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  transform: translateY(0px);
  text-decoration: none;
}

.mainNav__link:hover {
  border-bottom: 3px solid rgb(255, 0, 0);
}

.mainNav__icon {
  display: none;
}

.mainNav__icon i {
  font-size: 20px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 10px 10px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  display: block;
  text-align: left;
}

.sidebar button {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.sidebar .dropdown {
  padding: 40px 10px 10px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  display: block;
  text-align: left;
}

.sidebar .dropbtn-nav {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
}

.sidebar .dropbtn-nav:hover {
  color: rgb(255, 0, 0);
  font-weight: 800;
}

.sidebar .dropdown-content-nav {
  display: none;
}

.sidebar .dropdown-content-nav a:hover {
  color: rgb(255, 0, 0);
  font-weight: 800;
}

.sidebar .sidebar_mainNav__link {
  border-top: 2px solid rgb(32, 32, 32);
}

.sidebar .sidebar_mainNav__link:last-child {
  border-bottom: 2px solid rgb(32, 32, 32);
}

.sidebar .sidebar_mainNav__link:hover {
  color: rgb(255, 0, 0);
  font-weight: 800;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  margin-right: 50px;
}

.main_row {
  display: none;
}

.mobile_col_right {
  display: none;
}

.hed_dics {
  color: rgb(255, 255, 255);
  width: 60%;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  border-bottom: 4px solid rgb(255, 0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(32, 32, 32);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hed_dics_col_left, .hed_dics_col_right {
  display: inline-block;
  transform: translateY(10%);
}

.main_emt_image_right {
  display: none;
}

.main_emt_image {
  width: 300px;
  height: 420px;
  border-radius: 25px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.main_hed_emt {
  height: 300px;
}

.main_hed_image {
  height: 300px;
}

.slide {
  margin-top: 60px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  background-size: cover;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.hed_dics_col_right {
  width: 450px;
}

.hed_dics_col_right p {
  text-align: left;
}

.hed_dics_col_right h1 {
  text-align: left;
}

.button_trailer {
  padding-top: 20px;
  text-align: left;
}

.button_trailer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  display: inline;
}

.button_trailer a:last-child {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px 20px;
  background-color: transparent;
  display: inline;
}

.button_trailer a:hover {
  padding: 15px 20px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.button_trailer a:last-child:hover {
  padding: 15px 20px;
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
}

.icon_infor {
  text-align: left;
  display: flex;
}

.icon_infor .time {
  display: flex;
}

.icon_infor .time i {
  font-size: 22px;
}

.icon_infor .time p {
  margin-left: 10px;
}

.icon_infor .star {
  display: flex;
  margin-left: 50px;
}

.icon_infor .star i {
  font-size: 20px;
}

.icon_infor .star p {
  margin-left: 10px;
}

.container-data {
  margin-left: 80px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
}

@media screen and (max-width: 980px) {
  .hed_dics_col_left {
    display: none;
  }
  .hed_dics_col_right {
    width: 350px;
  }
  .main_hed {
    height: 430px;
  }
}
@media screen and (max-width: 920px) {
  .main_hed {
    height: 320px;
  }
  .mainNav__icon {
    display: inline;
    color: rgb(255, 255, 255);
  }
  .movie_de {
    display: none;
  }
  .mian_data .mainNav__links {
    display: none;
  }
  .sidebar a {
    font-size: 16px;
  }
  .button_trailer a {
    padding: 10px 15px;
  }
  .button_trailer a:last-child {
    padding: 10px 15px;
  }
  .button_trailer a:hover {
    padding: 10px 15px;
  }
  .button_trailer a:last-child:hover {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 450px) {
  .main_hed {
    height: 300px;
  }
  .container-data {
    margin-left: 0px;
    display: block;
    grid-template-columns: 0;
    gap: 0px;
  }
  .main_row {
    display: block;
    width: 100%;
    padding-top: 20px;
  }
  .main_row .col-8 {
    padding-left: 40px;
  }
  .hed_dics {
    color: rgb(255, 255, 255);
    width: 90%;
  }
  .hed_dics_col_right {
    display: none;
  }
  .main_emt_image_right {
    display: inline-block;
    height: 170px;
    display: block;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
  }
  .container-data {
    margin-left: 20px;
  }
  .mobile_col_right {
    display: block;
    text-align: start;
  }
  .mobile_col_right p {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .mobile_col_right .star {
    display: none;
  }
  .mobile_col_right h1 {
    font-size: 18px;
  }
  .mobile_col_right .button_trailer {
    padding-top: 5px;
  }
  .mobile_col_right .button_trailer a {
    width: 65%;
    padding: 2px 3px;
    font-size: 13px;
    display: block;
    margin-bottom: 15px;
  }
  .mobile_col_right .button_trailer a:last-child {
    padding: 2px 3px;
    margin-top: 3px;
  }
  .mobile_col_right .button_trailer a:hover {
    padding: 2px 3px;
  }
  .mobile_col_right .button_trailer a:last-child:hover {
    padding: 2px 3px;
  }
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.form {
  padding-right: 30px;
  display: inline-block;
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 40px;
  top: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form_input {
  padding-left: 25px;
  padding-right: 40px;
  width: 300px;
  height: 30px;
  text-indent: 5px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

.form_nav {
  display: inline-block;
  position: relative;
}

.form_nav .fa-search {
  position: absolute;
  top: 7px;
  left: 7px;
  color: #9ca3af;
}

.form_nav span {
  position: absolute;
  right: 20px;
  top: 2px;
  border-left: 1px solid #d1d5db;
}

.form_nav .left-pan {
  padding-left: 7px;
}

.form_nav .left-pan i {
  padding-left: 10px;
}

.form_nav .form_input {
  padding-left: 20px;
  padding-right: 50px;
  width: 280px;
  height: 27px;
  text-indent: 18px;
  border-radius: 10px;
}

.form_nav .form-input:focus {
  box-shadow: none;
  border: none;
}/*# sourceMappingURL=header.css.map */