$green-color: rgb(1, 113, 0);
$white-color: rgb(255, 255, 255);
$red-color: rgb(255, 0, 0);
$white-background: rgb(228, 228, 228);

$border-color: rgb(70, 70, 70);
$border-secound-color: rgba(19, 0, 0, 0.63);
$header-footer-color: rgb(0, 0, 0);
$body-color: rgb(32, 32, 32);
